{extend name="Public/base" /}
{block name="body"}
<div class="row">
    <div class="col-md-12">
        <form id="dataform" action="{:url('Menu/add')}" method="post" class="form-horizontal form">

            <div class='panel panel-default'>
                <div class='panel-heading'>
                    添加菜单
                </div>
                <div class='panel-body'>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            菜单名称</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="name" name="title" class="form-control" value=""/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">上级菜单</label>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id='pid' name="pid">
                                <option value="0">一级菜单</option>
                                {foreach $list as $v}
                                <option value="{$v['id']}" >{:str_repeat("┝",$v['level'])}{$v['title']}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            关联权限代码</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="privilege_code" class="form-control" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            导航图标</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="icon" class="form-control" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            排序</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="sort" class="form-control" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            链接地址</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="url" class="form-control" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否隐藏</label>
                        <div class="col-sm-9 col-xs-12">
                            <label class='radio-inline'>
                                <input type='radio' name='hide' value='0' checked/> 不隐藏
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='hide' value='1'/> 隐藏
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否仅开发者模式可见</label>
                        <div class="col-sm-9 col-xs-12">
                            <label class='radio-inline'>
                                <input type='radio' name='is_dev' value='0' checked/> 所有模式都可见
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='is_dev' value='1'/> 仅开发者模式可见
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            菜单说明</label>
                        <div class="col-sm-9 col-xs-12">
                            <textarea type="text"  name="remark" class="form-control" ></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9 col-xs-12">
                            <h4><p id="errorTip" class="text-danger" style="font-weight:600 "></h4>

                            <input type="submit" id="subBtn" value="提交" class="btn btn-primary col-lg-1" style="height: auto;width: auto;"/>
                            <input type="button" name="back" onclick='history.back()' value="返回列表"
                                   class="btn btn-default" style="height: auto;width:auto;margin-left: 10px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/jquery.form.min.js"></script>
<script>
    function showRequest(formData, jqForm, options) {
        var form = jqForm[0]; //把表单转化为dom对象
        if (!form.title.value) {
            layer.alert('菜单名称不能为空', {
                skin: 'layui-layer-lan'
            });
            return false;
        }
    }

    function showResponse(rJson) {
        layer.alert(rJson.info, {
            skin: 'layui-layer-lan'
        });

        if(rJson.success){
            location.href="{:url('index')}";
        }
    }

    var options = {
        dataType:  'json',
        beforeSubmit :showRequest,
        success:showResponse,
    };
    $("#dataform").ajaxForm(options);

</script>
{/block}