{extend name="Public/base" /}
{block name="body"}
<div class="row">
    <div class="col-md-12">
        <form id="dataform" action="{:url('Menu/edit')}" method="post" class="form-horizontal form">

            <div class='panel panel-default'>
                <div class='panel-heading'>
                    编辑菜单
                </div>
                <div class='panel-body'>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            菜单名称</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="name" name="title" class="form-control" value="{$row.title}"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">上级菜单</label>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id='pid' name="pid">
                                <option value="0">一级菜单</option>
                                {foreach $list as $v}
                                <option value="{$v['id']}" {if condition="$row['pid'] == $v['id']"}selected{/if} >{:str_repeat("┝",$v['level'])}{$v['title']}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            关联权限代码</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="privilege_code" class="form-control" value="{$row.privilege_code}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            导航图标</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="icon" class="form-control" value="{$row.icon}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            排序</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="sort" class="form-control" value="{$row.sort}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            链接地址</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"  name="url" class="form-control" value="{$row.url}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否隐藏</label>
                        <div class="col-sm-9 col-xs-12">
                            <label class='radio-inline'>
                                <input type='radio' name='hide' value='0' {eq name="row.hide" value="0"}checked{/eq}/> 不隐藏
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='hide' value='1' {eq name="row.hide" value="1"}checked{/eq}/> 隐藏
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否仅开发者模式可见</label>
                        <div class="col-sm-9 col-xs-12">
                            <label class='radio-inline'>
                                <input type='radio' name='is_dev' value='0' {eq name="row.is_dev" value="0"}checked{/eq}/> 所有模式都可见
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='is_dev' value='1' {eq name="row.is_dev" value="1"}checked{/eq}/> 仅开发者模式可见
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            菜单说明</label>
                        <div class="col-sm-9 col-xs-12">
                            <textarea type="text"  name="remark" class="form-control" >{$row.remark}</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9 col-xs-12">
                            <h4><p id="errorTip" class="text-danger" style="font-weight:600 "></h4>
                            <input type="hidden" value="{$row.id}" name="id">
                            <input type="submit" id="subBtn" value="提交" class="btn btn-primary col-lg-1" style="height: auto;width: auto;"/>
                            <input type="button" name="back" onclick='history.back()' value="返回列表"
                                   class="btn btn-default" style="height: auto;width:auto;margin-left: 10px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $("#dataform").Validform({
        tiptype:function(msg){
            layer.alert(msg, {
                skin: 'layui-layer-lan'
            });
        },
        ajaxPost:true,   //使用ajax方式提交
        callback:function(data){    //data array('status'=>'y/n','info'=>'')
            if(data.success){
                location.href="{:url('index')}";
            }
        }
    });

</script>
{/block}